body {
  margin: 0px;
  background-color: #282828;
}
.el-textarea__inner, .el-input__inner {
  /*font-family:"Microsoft";*/
  font-family: note monospace,SFMono-Regular,Consolas,Menlo,Courier,monospace;
  font-size:20px;
}
code {
  font-family: note monospace,SFMono-Regular,Consolas,Menlo,Courier,monospace;
  color: steelblue;
}
code.black {
  font-family: note monospace,SFMono-Regular,Consolas,Menlo,Courier,monospace;
  color: #282828;
}
table.table {
  border-collapse: collapse;
  margin: auto;
  break-inside: avoid-page;
}
table.table tr {
	text-align: center;
	padding-left:10px;
}
table.table td{
	padding:5px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	background: #fafafa;
}
table.table tr:first-child td {
  border-top: 1px solid #e0e0e0;
}
table.table td:last-child {
  border-right: 1px solid #e0e0e0;
}
table.table th {
  padding: 5px;
  border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	background: #fafafa;
  font-weight: bold;
}
table.table tr:first-child th {
  border-top: 1px solid #e0e0e0;
}
table.table th:last-child {
  border-right: 1px solid #e0e0e0;
}
table.table td.left, th.left {
  text-align: left;
}
table.table tr.left {
  text-align: left;
}
table.table.left tr {
  text-align: left;
}

@media print {
  body {
    margin: 0;
    background-color: white;
    -webkit-print-color-adjust: exact;
  }
}