body {
  margin: 0px;
  background-color: #282828;
}
.el-textarea__inner, .el-input__inner {
  font-family:"Microsoft";
  font-size:20px;
}
code {
  font-family: note monospace,SFMono-Regular,Consolas,Menlo,Courier,monospace;
  color: steelblue;
}

@media print {
  body {
    margin: 0;
    background-color: white;
    -webkit-print-color-adjust: exact;
  }
}